body {
    background-image: url(../Images/ice-cold-blue-to-yellow-gradient-background.jpg);
    background-size: cover;
}



.box1 {
    height: 60vh;
    width: inherit;
    background-image: url(../Images/62625.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#mainPhoto {
    width: 200px;
}

.container-fluid {
    width: 250px;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
    clear: both;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: ivory;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 70%;
}

.grid-about {
    width: auto;
    border: 10px solid lightgrey;
    padding: 50px;
    margin: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    border: 10px solid lightgray;
    padding: 50px;
    margin: 20px;
    clear: both;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.projectBox {
    width: 0 auto;
    padding: 15px;
    margin-top: 25px;
    border: 10px solid lightgray;
    clear: both;
    display: flex;
    justify-content: center;
   
}

#projPhoto {
    width: 720px;
    clear: both;
 
}

.projButton {
    display: flex;
    justify-content: center;
} 

.projectBox2 {
    width: 0 auto;
    padding: 15px;
    margin-top: 25px;
    border: 10px solid lightgray;
    clear: both;
    display: flex;
    justify-content: center;
   
} 

#projPhoto2 {
    width: 720px;
    clear: both;
 
}

.projButton2 {
    display: flex;
    justify-content: center;
}

.projectBox3 {
    width: 0 auto;
    padding: 15px;
    margin-top: 25px;
    border: 10px solid lightgray;
    clear: both;
    display: flex;
    justify-content: center;
}

#projPhoto3 {
    width: auto;
    clear: both;
}

.projButton3 {
    display: flex;
    justify-content: center;
} 

.container-contact {
    width: 250px;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
    clear: both;
    display: flex;
    justify-content: center;
}
