body {
    background-image: url(../Images/ice-cold-blue-to-yellow-gradient-background.jpg);
    background-size: cover;
}



.box1 {
    height: 50vh;
    width: 0 auto;
    background-image: url(../Images/62625.jpg);
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#mainPhoto {
    width: 200px;
}

.container-fluid {
    width: 250px;
    padding: 15px;
 
    margin-top: 25px;
    margin-bottom: 10px;
    clear: both;
}

.grid-about {
    width: auto;
    border: 10px solid lightgrey;
    padding: 50px;
    margin: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    border: 10px solid lightgray;
    padding: 50px;
    margin: 20px;
    clear: both;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}






