body {
    background-image: url(../Images/gradientImage.png);
    margin: 0;
    padding: 0;
}

.box1 {
    
    height: 50vh;
    width: 0 auto;
    background-image: url(../Images/62625.jpg);
    display: flex;
    justify-content: center;
}

#mainPhoto {
    width: 200px;
}

.container-fluid {
    width: 250px;
    border: 10px solid #f9f9f9;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}




